[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/api"
  to = "/.netlify/functions/index"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/index"
  status = 200
  force = true

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["yt-dlp-wrap"]
